<tr>
								<td>
									{{data.name}}
								</td>
								<td>
									{{data.email}}
								</td>
								<td>
									{{data.designation}}
								</td>
								<td>
									{{data.phone}}
								</td>
								<td>
									{{data.address}}
								</td>
								<td>
									{{data.status}}
								</td>
								<td>
								 <div>
                                 <input class="btn btn-danger btn-sm" type="button"
                                   data-id="{{ data.id }}" id="tech-del-btn" value="Delete ">
                                </div>
								
								
								<a href="{% url 'update_employee' data.id %} "class="btn btn-sucess">Update</a>

								</td>
							</tr>