<!-- <a href="{% url 'delete_employee' data.id %} "class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onClick="getId('{{data.id}}')">Delete</a> -->
<!-- <script>
    function getId(id) {
        var a =document.getElementById('delete_record');
        // alert(id)
        a.href = "/delete_employee/"+id;
    }

	</script> -->



<!-- 	<script>
            $(document).on('click', '#emp-del-btn', function (e) {
                e.preventDefault();
                var obj = $(this); // first store $(this) in obj
                var id = $(this).data('id'); // get id of data using this
                var my_data = {
                    "id": id,
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                }
                $.ajax({
                    type: 'POST',
                    url: "{% url 'delete_employee'%}",
                    data: my_data,
                    success: function (json) {
                        $(obj).closest("tr").remove();
                        alert("Employee remove successfully ")
                        $('empModal' + id).modal('hide')
                        location.reload();
                    },
                });
            });
        </script>
 -->



 javascipt

{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
</body>
</html>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header card-header-primary p-3 d-flex justify-content-between">
			<h4 class="card-title ">designation Table</h4>
			<a href="{% url 'create_designation' %}" class="btn btn-sucess">Add</a>
 			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class=" text-primary">
							<th>
								Name
							</th>
							<th>
								Date
							</th>
							<th>
								Action
							</th>
						</thead>
						<tbody>
							{% for data in designation_list %}
							<tr>
								<td>
									{{data.name}}
								</td>
								<td>
									{{data.created_at}}
								</td>
								<td>
								<input class="btn btn-danger btn-sm" type="button"
                                   data-id="{{ data.id }}" id="tech-del-btn" value="Delete ">
                                </div>
								<!-- <a href="{% url 'delete_designation' data.id %} "class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onClick="getId('{{data.id}}')">Delete</a> -->
								<a href="{% url 'update_designation' data.id %} "class="btn btn-sucess">Update</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="pagination justify-content-end">
					  <span>
					    {% if page_obj.has_previous %}
					    <a class="btn btn-sm btn-primary" href="?page={{page_obj.previous_page_number}}">Previous</a>
					    {% endif %}
					    <span>{{ page_obj.number }}</span>

					    {% if page_obj.has_next %}
					    <a style="margin-right:45px" style="background-color: #825ee4" class="btn btn-sm btn-primary"  href="?page={{page_obj.next_page_number}}">Next</a>
					    {% endif %}
					  </span>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script>
            $(document).on('click', '#tech-del-btn', function (e) {
                e.preventDefault();
                alert('helllo')
                var obj = $(this); // first store $(this) in obj
                var id = $(this).data('id'); // get id of data using this
                var my_data = {
                    "id": id,
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                }
                $.ajax({
                    type: 'POST',
                    url: "{% url 'delete_category'%}",
                    data: my_data,
                    success: function (json) {
                        $(obj).closest("tr").remove();
                        alert("asset remove successfully ")
                        $('empModal' + id).modal('hide')
                        location.reload();
                    },
                });
            });
        </script>
	<!-- <script>
    function getId(id) {
        var a =document.getElementById('delete_record');
        // alert(id)
        a.href = "/delete_employee/"+id;
    }
	</script> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}