{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            update Employee
          </h4>
        </div>
        <div class="card-body">
          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Add your credentials
              {% endif %}  
          </h6>
          <br />
            <form role="form" method="post">
                {% csrf_token %} 
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">name</label>
                    {{ form.name }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.name.errors }}</span>

              <br/>

<!--               <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">designation</label>
                    {{ form.designation }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.designation.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">phone</label>
                    {{ form.phone }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.phone.errors }}</span>

              <br />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">address</label>
                    {{ form.address }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.address.errors }}</span>

              <br /> -->

              <button type="submit" name="register" class="btn btn-primary pull-left">submit</button>

            <!-- -->
              <div class="clearfix"></div>

            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
