{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load i18n %}


    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">{% trans 'Employee' %}</p>
            <h3 class="card-title">{{employee}}
              <small></small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="#pablo">Get More Space...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">{% trans 'Total Tool' %}</p>
            <h3 class="card-title">{{asset}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">{% trans 'Borrow Tool' %}</p>
            <h3 class="card-title">{{assetassign}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">{% trans 'Category' %}</p>
            <h3 class="card-title">{{category}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary p-3 d-flex justify-content-between">
        <h4 class="card-title ">{% trans 'Expire Table' %}</h4>
<!--         <a href="#" class="btn btn-sucess">Add</a>
 -->      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                {% trans 'Name' %}
              </th>
              <th>
                {% trans 'Asset Item' %}
              </th>
              <th>
                {% trans 'expire_date' %}
              </th>
              <th>
                {% trans 'Action' %}
              </th>
            </thead>
            <tbody>
              {% for data in assetassign_list %}

              <tr>
                <td>
                  {{data.employee}}
                </td>
                <td>
                  {{data.asset}}
                </td>
                <td>
                  {{data.expire_date}}
                </td>
                <td>
                <a href="{% url 'delete_assetassign' %} "class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <div class="pagination justify-content-end">
            <span>
              {% if page_obj.has_previous %}
              <a class="btn btn-sm btn-primary" href="?page={{page_obj.previous_page_number}}">Previous</a>
              {% endif %}
              <span>{{ page_obj.number }}</span>

              {% if page_obj.has_next %}
              <a style="margin-right:45px" style="background-color: #825ee4" class="btn btn-sm btn-primary"  href="?page={{page_obj.next_page_number}}">Next</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

